/.Connection.java._trace
/.Connection.xtendbin
/.DBEntity.java._trace
/.DBEntity.xtendbin
/.Database.java._trace
/.Database.xtendbin
/.Duke.java._trace
/.Duke.xtendbin
/.HelloXtend.java._trace
/.HelloXtend.xtendbin
/.ID.java._trace
/.ID.xtendbin
/.Register.java._trace
/.Register.xtendbin
/.Serializer.java._trace
/.Serializer.xtendbin
/Connection.java
/DBEntity.java
/Duke.java
/HelloXtend.java
/ID.java
/Register.java
/Serializer.java
/.RegistryException.java._trace
/.MissingIDException.java._trace
/.CreationException.java._trace
